*{
    margin: 0;
}

.menu ul{
    background-color: rgb(155, 21, 54);
    margin-left: 100px;
}

.cursos{
    margin-left: 150px;
}

.menu img {
    position: absolute;
    height: 61px;
}

.menu ul li{
    display: inline;
    list-style: none;
}

.menu ul li a {
    display: inline-block;
    font-family: 'Arial';
    padding: 20px 1px;
    text-decoration: none;
    color: rgb(253, 199, 154);
    font-size: 18px;
    margin-left: 30px;
}

.awesome1 {
    color: rgb(253, 199, 154);
    margin-left: 20px;
    font-size: 39px;
}

.menu a:hover{
    color: rgb(255, 255, 255);
    transition: 600ms;
}

.linktags {
    margin: 40px 0px 30px 30px;
    font-family:'Arial';
    font-size: 15px;
    color: rgb(179, 179, 179);
}

.breakline{
    color: rgb(174, 179, 184);
    width: 95%;
    margin: 0px 30px 15px 30px;
}

.tittle1{
    display: inline-block;
    margin-left: 30px;
    font-size: 12px;
}

.conteudo {
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
}

.video {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.esquerda{
    margin-top: 120px;
    width:70% ;
    display: inline-block;  
    text-align: left;
}

.conteudo h1 {
    margin-bottom: 5px;
    font-size: 20px;
    color:rgb(155, 21, 54);
}

.conteudo h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

.conteudo p{
    margin-bottom: 5px;
    display: inline-block;
    font-size: 15px ;
    color: rgb(148, 148, 148);
}
.conteudo h4{
    margin-bottom: 5px;
    display: inline-block;
    font-size: 17px ;
    color: rgb(148, 148, 148);
    font-weight:bold
}

.botaoo{
    display: inline-block;
    margin: 10px 150px 0px 90px;
    background-color: rgb(196, 196, 196);
    font-size: 25px;
    padding: 13px 56px 13px 56px;
    border-radius: 20px;



}
.botaoo a{
text-decoration: none;
color:#4F4F4F;

}

.botaoo:hover{
    display: inline-block;
    margin: 10px 150px 0px 90px;
    background-color: rgb(223, 223, 223);
    font-size: 25px;
    padding: 13px 56px 13px 56px;
    border-radius: 20px;
    transition: 500ms;

}

.sobre {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.esquerdasobre {
    width: 90%;
    display: inline-block;
    text-align: left;

}

.esquerdasobre h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
.esquerdasobre p{
    font-size: 19px;
    color: rgb(148, 148, 148);
    margin-bottom: 10px;
}

.direitasobre{
    margin-top: 20px;
    margin-left: 140px;
    width:50% ;
    display: inline-block;  
    text-align: left;
}

.direitasobre h1{
    font-size: 25px;
}

.direitasobre h2{
    font-size: 20px;
    margin-bottom: 45px;
}

.direitasobre i{
    color:rgb(155, 21, 54);
    font-size: 35px;
    margin-right: 15px;
    margin-left: 10px;
}

.tour {
    font-size: 25px;
    border: 2px solid rgb(218, 218, 218);
    padding: 10px 80px 10px 80px;
    margin-right: 100px;
    border-radius: 5px;
}

.tour:hover {
    font-size: 25px;
    border: 2px solid rgb(209, 64, 64);
    padding: 10px 80px 10px 80px;
    margin-right: 100px;
    border-radius: 5px;
    transition: 500ms;
}

.direitasobre img{
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border: 3px solid rgb(236, 236, 236);
    box-shadow: 3px 3px 4px 4px rgb(231, 231, 231);
    border-radius: 50%;
}

.infocoord{
    display: flex;
}

.coordesq{
        display: inline-block;

}

.coorddireita {
    padding: 3px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.coorddireita p {
    color: gray;
}

.coorddireita h3 {
    margin-bottom: 10px;
}

.quebom{
    font-size: 18px;
    margin-right: 20px;
    color: gray;

}

.tour2 h5{
    margin-left: 20px;
}

.tour2 {
    font-size: 25px;
    border: 2px solid rgb(218, 218, 218);
    padding: 10px 50px 10px 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.tour2:hover{
    font-size: 25px;
    border: 2px solid rgb(209, 64, 64);
    padding: 10px 50px 10px 50px;
    margin-right: 50px;
    border-radius: 5px;
    transition: 500ms;
}
.formulario {
margin: 0 0 0 300px

}

#matriculatopo{
width:100%

}
.enviar{
background-color: #f00;
color: #fff;
}